{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- Hero section -->
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                <h2><span>{{ dish01.dish_name }}</span></h2>
                                <p><strong>Experimente Agora!</strong>  -  {{ dish01.dish_description }} - por apenas  <strong>R$ {{ dish01.price }}</strong></p>
                                <a href="{{ path('menu') }}" class="site-btn">Cardápio</a>
                                <a href="#" class="site-btn sb-c2">Pedidos</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hr-img">
                                <img src="{{ asset('images/' ~ dish01.image) }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                <h2><span>{{ dish02.dish_name }}</span></h2>
                                <p><strong>Experimente Agora!</strong>   -  {{ dish02.dish_description }} - por apenas  <strong>R$ {{ dish02.price }}</strong></p>
                                <a href="{{ path('menu') }}" class="site-btn">Cardápio</a>
                                <a href="#" class="site-btn sb-c2">Pedidos</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hr-img">
                                <img src="{{ asset('images/' ~ dish02.image) }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->
{% endblock %}
