{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <section class="playlist-section spad">
            <div class="container-fluid">
                <div class="row">
                    <div class="section-title">
                        <h2>Cardápio</h2>
                    </div>
                </div>
                <div class="row-fluid mt-1">
                    <div class="container">
                        <ul class="playlist-filter controls">
                            <li class="control" data-filter=".Bebidas">Bebidas</li>
                            <li class="control" data-filter=".Principais">Pratos principais</li>
                            <li class="control" data-filter=".Sobremesas">Sobremesas</li>
                            <li class="control" data-filter=".Petiscos">Petiscos</li>
                            <li class="control" data-filter=".Gourmet">Gourmet</li>
                            <li class="control" data-filter="all">Todos os itens</li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row playlist-area">
                    {% for dish in dishes %}
                    <div class="mix col-lg-3 col-md-4 col-sm-6 {{ dish.category }}">
                        <div class="playlist-item">
                            <img src="{{ asset('images/' ~ dish.image) }}" alt="">
                            <h5>{{ dish.dish_description }} - R$ {{ dish.price }}</h5>
                            <p>ID do Prato - {{ dish.id }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
